**/__pycache__/
.vscode/
tmp/
test/

corpus/*
!corpus/*.db

plots/
plot/tmp/
plot/**/*.png
**/*.eps
**/*.prog

**/private_config.py
generator/corpus/
generator/capability/*/
generator/directed/*/
generator/*.log
generator/log/
generator/chat_*.py

crawler/man_docs/

log/

experiments/seed_generation/

fine-tune/output/