**/__pycache__/
.vscode/
tmp/
test/

corpus/*
!corpus/*.db

plot/tmp/
plot/**/*.png
**/*.eps
**/*.prog

**/private_config.py
generator/corpus/
generator/capabilities/
generator/*.log
generator/log/
generator/chat_*.py

crawler/man_docs/

log/

experiments/seed_generation/

fine-tune/output/